@use '~@styles/components/common' as *

.page-newsGrid
  width: 100%
  overflow: visible
  position: relative
  padding-bottom: 25%
  place-items: center

  .page-newsGrid-logo
    display: grid
    place-items: center
    margin-bottom: 5%

    .logo-news
      width: 19%
      height: auto

  .page-newsGrid-filter
    display: flex
    justify-content: flex-start
    padding: 10px 0
    margin-bottom: 4.3rem
    gap: 1rem

    .page-newsGrid-like
      background-color: #f80e10
      color: $white
      border: none
      padding: 8px 16px
      border-radius: 6px
      font-size: 16px
      font-weight: 600
      cursor: pointer
      transition: background-color 0.3s ease, transform 0.2s ease

      option
        background-color: #fff
        color: #f80e10
        font-weight: 600

      &:hover
        background-color: #f33a3a
        transform: scale(1.05)

      &:active
        background-color: #b64141
        transform: scale(0.97)

  .page-newsGrid-list-news
    display: grid
    gap: 125px
    max-width: 1290px
    margin: 0 auto
    grid-auto-rows: auto
    grid-auto-flow: row dense
    grid-template-columns: repeat(4, 1fr)

    @media (max-width: 1400px)
      grid-template-columns: repeat(2, 1fr)
      max-width: 750px

    @media (max-width: 1000px)
      grid-template-columns: 1fr
      max-width: 350px

    .page-newsItem-news-card
      display: flex
      flex-direction: column
      height: auto
      transition: transform 0.6s ease, box-shadow 0.5s ease, grid-column 1s ease, grid-row 1s ease
      box-sizing: border-box
      min-width: 0

      &:not(.expanded):hover
        transform: scale(1.5)
        box-shadow: $hover-shadow
        z-index: 10

      &.expanded
        grid-column: span 2
        grid-row: span 2
        z-index: 1
        overflow: visible

    @media (max-width: 1000px)
     .page-newsItem-news-card
       aspect-ratio: 1 / 1
       height: auto

     .page-newsItem-news-card.expanded
      grid-column: span 1
      aspect-ratio: auto
