$white: #fff
$black: #14171A
$card-shadow: 0 4px 16px rgba(0, 0, 0, 0.2)
$hover-shadow: 0 12px 24px rgba(0, 0, 0, 0.2)

body
  margin: 0
  background: linear-gradient(45deg, #ffffff 30%, #fbfcff 70%, #e0e0ff 100%)
  font-family: Roboto, sans-serif
  color: #000000
  min-height: 100%
